* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.bt1, .bt2 {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
               
  
}

.effect1 {
  border-radius: 5px;
  color: #0bf0b7fd;
  
  text-decoration: none;
  font-family: sans-serif;
  font-size: 8px;
  position: relative;
  padding: 10px 12px 10px 10px;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;

  -webkit-transform: scale(3);

      -ms-transform: scale(3);

          transform: scale(3); /*change scale(3) to scale(1)*/
}

.effect1 .bg {
  border-radius: 5px;
  background: #0bf0b7fd;
  width: 09px;
  height:2px;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -1px;
  z-index: -1;

  -webkit-transition: all 0.3s;

  -o-transition: all 0.3s;

  transition: all 0.3s;
}

.effect1:hover {
  padding-right: 10px;
  padding-left: 15px;
  color: rgb(46, 43, 43);
}

.effect1:hover .bg {
  height: 55%;
  width: 90%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.effect1 .bg:before, .effect1 .bg:after {
  content: '';
  height: 1.8px;
  width: 5px;
  background: #0bf0b7fd;
  
  position: absolute;
  right: -1.6px;      
  -webkit-transition: all 0.3s;      
  -o-transition: all 0.3s;      
  transition: all 0.3s;
}

.effect1 .bg:before {
  bottom: 1.4px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.effect1 .bg:after{
  top: 1.7px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.effect1:hover .bg:before,
.effect1:hover .bg:after{
  right: 0;
}

.effect1:hover .bg:before{
  bottom: 6px;
}

.effect1:hover .bg:after{
  top: 6px;
}