h1 {
    font-weight: bold;
    margin: 0;
}
body{
    /* overflow: hidden; */
    background-image: url('{% static 'images/black.jpeg' %}');
    font-family: 'M PLUS 1p', sans-serif;
    background-size:100%;
    background-repeat:no-repeat;
    color:rgb(255, 255, 230);
}
.bod{
    text-align:center;
    height: 86vh;
    display:flex;justify-content:center;align-items:center;
    background-size:100%;
    background-repeat:no-repeat;
}
#container1{
    height:65vh;width:60vw;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    top:1vh;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color:rgb(255, 255, 230);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    
   /* background-color: rgb(65, 4, 4);*/
   background-color: rgba(112, 107, 107, 0.76);
    border-radius: 5px;
	border:none;
   /* border-color: #ffffff;*/
}

form {
    /*background-color:white;*/
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}



.social-container {
    margin: 20px 0;
}

.social-container a {
   /* border: 1px solid #dddddd;*/
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
.container {
    /*background-color:white;*/
    background: transparent;
    border-radius: 10px;
   /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
    position: relative;
    overflow: hidden;
    height: 65vh;width:60vw;
  

}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
   /* background-color:rgb(41, 30, 30);*/
  /*  height:65vh;*/
    left: 0;
    width: 50%;
    font-size:15px;
    z-index: 2;
    
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;

}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.4s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);

}

.pp2::placeholder{
    color: rgb(163, 163, 144);
}

.overlay {
    background: #ff416c; 
    background: -webkit-linear-gradient(to bottom, #a71c1cf6, #3a0a0af6);
    background: linear-gradient(to bottom, #fffcd8, #a8a68f);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color:rgb(221, 0, 0);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}
.player{
    height:50vh; 
    border-radius: 8px;
    
   border:1px solid black;
   background: -webkit-linear-gradient(to bottom, #a71c1cf6, #3a0a0af6);
    background: linear-gradient(to bottom, #a71c1cf6, #3a0a0af6);
}

p{
    padding-top:2vh;  font-weight: bold; text-align: center;font-size:4vh;color:rgb(255, 255, 230);font-family: 'M PLUS 1p', sans-serif;
}
.block{
    justify-content: center;
    text-align: center;
    


}


.name{
    display:flex;align-items: center;justify-content: center;
    
}
input[type=text],
input[type=password],
input[type=tel],
input[type=email] {
    border: none;
    border-bottom: 1px solid #BBC7CE;
    background: transparent;
    outline: none;
    height: 40px;
    color: #BBC7CE;
    font-family: 'M PLUS 1p', sans-serif;
    text-align: center;
    width: 15vw;
}

.plr1::placeholder{
    color: rgb(255, 255, 230);
    font-size: 10px;
}

.block .inputBox input
{
width:100%;
padding: 10px 0;
color:#BBC7CE;

border: none;
margin-bottom: 30px;

border-width: 15vw;
outline: none;
border-bottom: 1px solid rgba(255, 255, 255, 0.829);
background: transparent;
}
.block .inputBox  label 
{  
    top:-65px;
position:relative;
justify-content:center;
text-align: center;
padding:10px 0;
font-size: 16px;
color:rgba(187, 199, 206, 0.685);
pointer-events: none;
transition: .5s;
} 

b{
    display:flex; justify-content:center; align-items:center;font-family: 'M PLUS 1p', sans-serif;
    
    
    text-emphasis: center;
    text-align: center;

    font-size:2.2vh;
    padding-left:1vw;
    color: rgb(255, 255, 230);
    font-family: 'M PLUS 1p', sans-serif;

}
.inputBox{
    justify-content:center;text-align:center;margin-left:4vw;margin-right:4vw;height:95px;
}
.Rad{
    
    margin-right:2vw;
}
label{
    margin-left:0.1vw;color: rgb(255, 255, 230);
}

