@font-face{
    font-family: mplus;
    src: url(mplus.ttf);
}


body{
    background: url(newgreen.jpg);
    background-repeat: no-repeat;
       background-size:100%;
       font-family: mplus;
       
       
}

        @font-face{
    font-family: ss;
    src: url(ssss.ttf);
    }
.main{
    position: relative;
    z-index: 0;
    margin-left: 5vw; 
   
}

.sevs{
font-family: ss;
}
.bottom{
    font-family: 'Quicksand', sans-serif;
    position: absolute;
   background-color: /*black; */rgb(1, 32, 29);
    width: 22vw;
    height: 60vh;
    margin: 15.5vh 22.5vw 5.5vh 22.5vw;
    box-shadow: 0 0 5px 1px rgb(2, 2, 2);
    border-radius: 5px;
    opacity: 0;
    color: #e8f7ee;
}
    
.left{
    font-family: 'Quicksand', sans-serif;
    color: #F4E7BB;
    position: absolute;
    background:linear-gradient(to top, rgb(0, 0, 0),#006B61);
     
    width: 22vw;
    height: 60vh;
    margin: 10.5vh 33.5vw 10.5vh 11.5vw;
    box-shadow: 0 0 5px 1px rgb(2, 2, 2);
    border-radius: 5px;
    justify-content:center;
    text-align:center;
    
    }
    .a1{
        animation: slidel .5s ease-out forwards;
       
    }
    .a2{
        animation: slider .5s ease-out forwards;
    }
    .a3{
        animation: slideb .5s ease-out forwards;
    }
    @keyframes slideb{
        0%{
    
        }
        
        100%{
            /* background:linear-gradient(to top, #a3235f,#AB81CD); */
            transform:  translateY(5vh) ;
           
        }
    }
    @keyframes slidel{
        0%{
    
        }
        
        100%{
            /* background:linear-gradient(to top, #a3235f,#AB81CD); */
            transform: translateX(-11.7vw) translateY(-5vh) ;
           
        }
    }
.right{
    font-family: 'Quicksand', sans-serif;
    /* color: #241706; */  color: #e8f7ee;
    background:linear-gradient(to top, rgb(0, 0, 0),#006B61);
     
    position: absolute;
    width: 22vw;
    height: 60vh;
    margin: 10.5vh 11.5vw 10.5vh 33.5vw;
    box-shadow: 0 0 5px 1px rgb(2, 2, 2);
    border-radius: 5px;
   
}
@keyframes slider{
    0%{

    }
    60%{
       
    }
    100%{
        
        transform: translateX(11.7vw) translateY(-5vh) ;
        
    }
}


input[type=text],
input[type=password],
input[type=tel],
input[type=email] {
    border: none;
    border-bottom: 1px solid  #F4E7BB;
    background: transparent;
    outline: none;
    height: 40px;
    color: #e8f7ee;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    width: 15vw;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F4E7BB;
    opacity: 1;
    font-family: 'Quicksand', sans-serif;
    justify-content:center;
    text-align:center;
    /* Firefox */
}
.bot{
    text-align:center;
    margin-top:5vh;
    justify-content: center;
    font-size:4vh;
    /* color: #241706;
 */color: #e8f7ee;
}
.bot1{
    text-align:center;
    margin-top:5vh;
    justify-content: center;
    font-size:4vh;
    font-weight: 500;
    /* color: #f7f9f9; */color: #e8f7ee;
}
.footer{
    font-family: 'Quicksand', sans-serif;
    border: 2px solid black;
    height:7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e8f7ee;
}
.iconimg{
    height:3vh;
 margin-right: -0.8vw;
}
.inptyp{
    margin-left:-0.4vw;;
}
.ph{
     height:3vh;
      margin-right: -0.1vw;
}
.em{
     height:3vh;
      margin-right: -0.1vw;
}
.inputBox{
    justify-content:center;
    text-align:center;
    margin-left:4vw;
    margin-right:4vw;
    height:95px;
}
.button {
    border-radius: 5px;
     background-color:#02ad97;/*#f4511e; */
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    justify-content:center;
    text-align: center;
    height:5vh;
    width: 8vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    outline:none;
  }
  .button:hover{
    background-color:#08473f;/*#f4511e; */
  }
  .btl{
     background-color:#02ad97;
     color:rgb(255, 255, 255);
     border:none;
     width:8vw;
     height: 5vh;
     font-size: 17px;
     border-radius: 5px; 
  }
  .btl:hover{
    background-color:#147265;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .a{
    content:disabled;  
  }
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  